In [1]:
from data_module import *
import pandas as pd
from datetime import date, timedelta, datetime

In [2]:
# Sections of tickers and dates
tickers = ['BNP.PA','ACA.PA','GLE.PA'] # tickers of BNP, Crédit Agricole and Société Générale

start_d = '2020-01-01'
end_d = date.today()

df = get_stocks_data(tickers,start_d, end_d)
df

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2020-01-02 00:00:00+01:00,53.200001,54.000000,53.180000,53.580002,37.128826,2783637,BNP.PA
1,2020-01-03 00:00:00+01:00,53.070000,53.169998,52.590000,52.939999,36.685329,2535225,BNP.PA
2,2020-01-06 00:00:00+01:00,52.040001,52.700001,51.639999,52.680000,36.505161,2494787,BNP.PA
3,2020-01-07 00:00:00+01:00,52.930000,53.139999,52.459999,52.660000,36.491299,2022813,BNP.PA
4,2020-01-08 00:00:00+01:00,52.270000,53.020000,52.009998,52.779999,36.574455,2893097,BNP.PA
...,...,...,...,...,...,...,...,...
1218,2024-09-30 00:00:00+02:00,22.600000,22.600000,22.040001,22.350000,22.350000,4453339,GLE.PA
1219,2024-10-01 00:00:00+02:00,22.360001,22.469999,21.815001,22.065001,22.065001,4416047,GLE.PA
1220,2024-10-02 00:00:00+02:00,22.000000,22.170000,21.930000,22.125000,22.125000,1694651,GLE.PA
1221,2024-10-03 00:00:00+02:00,22.014999,22.065001,21.709999,21.834999,21.834999,2621235,GLE.PA
1222,2024-10-04 00:00:00+02:00,21.875000,22.690001,21.875000,22.415001,22.415001,4947528,GLE.PA

In [3]:
data_module = DataModule(data = df)
data_module

DataModule(data=                          Date       Open       High        Low      Close  \
0    2020-01-02 00:00:00+01:00  53.200001  54.000000  53.180000  53.580002
1    2020-01-03 00:00:00+01:00  53.070000  53.169998  52.590000  52.939999
2    2020-01-06 00:00:00+01:00  52.040001  52.700001  51.639999  52.680000
3    2020-01-07 00:00:00+01:00  52.930000  53.139999  52.459999  52.660000
4    2020-01-08 00:00:00+01:00  52.270000  53.020000  52.009998  52.779999
...                        ...        ...        ...        ...        ...
1218 2024-09-30 00:00:00+02:00  22.600000  22.600000  22.040001  22.350000
1219 2024-10-01 00:00:00+02:00  22.360001  22.469999  21.815001  22.065001
1220 2024-10-02 00:00:00+02:00  22.000000  22.170000  21.930000  22.125000
1221 2024-10-03 00:00:00+02:00  22.014999  22.065001  21.709999  21.834999
1222 2024-10-04 00:00:00+02:00  21.875000  22.690001  21.875000  22.415001

      Adj Close   Volume  ticker
0     37.128826  2783637  BNP.PA
1     36.685329  2535225  BNP.PA
2     36.505161  2494787  BNP.PA
3     36.491299  2022813  BNP.PA
4     36.574455  2893097  BNP.PA
...         ...      ...     ...
1218  22.350000  4453339  GLE.PA
1219  22.065001  4416047  GLE.PA
1220  22.125000  1694651  GLE.PA
1221  21.834999  2621235  GLE.PA
1222  22.415001  4947528  GLE.PA

[3669 rows x 8 columns])

In [4]:
# Checking the tickers and the number of companies in the dataframe
print(data_module.data['ticker'].unique())
print(data_module.data['ticker'].nunique())

['BNP.PA' 'ACA.PA' 'GLE.PA']
3

In [5]:
# Lenght of the data
print("Lenght of the data : ", data_module.data.size)

# number of observation per company
nb_data = data_module.data.size/data_module.data['ticker'].nunique()
print("Number of observations per company :", nb_data)

Lenght of the data :  29352
Number of observations per company : 9784.0

In [ ]:
date_time = pd.to_datetime(end_d, utc = True)
sliced_data = Information(s=timedelta(nb_data), data_module=data_module).slice_data(date_time)
sliced_data

,Date,Open,High,Low,Close,Adj Close,Volume,ticker
0,2020-01-02 00:00:00+01:00,53.200001,54.000000,53.180000,53.580002,37.128826,2783637,BNP.PA
1,2020-01-03 00:00:00+01:00,53.070000,53.169998,52.590000,52.939999,36.685329,2535225,BNP.PA
2,2020-01-06 00:00:00+01:00,52.040001,52.700001,51.639999,52.680000,36.505161,2494787,BNP.PA
3,2020-01-07 00:00:00+01:00,52.930000,53.139999,52.459999,52.660000,36.491299,2022813,BNP.PA
4,2020-01-08 00:00:00+01:00,52.270000,53.020000,52.009998,52.779999,36.574455,2893097,BNP.PA
...,...,...,...,...,...,...,...,...
1218,2024-09-30 00:00:00+02:00,22.600000,22.600000,22.040001,22.350000,22.350000,4453339,GLE.PA
1219,2024-10-01 00:00:00+02:00,22.360001,22.469999,21.815001,22.065001,22.065001,4416047,GLE.PA
1220,2024-10-02 00:00:00+02:00,22.000000,22.170000,21.930000,22.125000,22.125000,1694651,GLE.PA
1221,2024-10-03 00:00:00+02:00,22.014999,22.065001,21.709999,21.834999,21.834999,2621235,GLE.PA
1222,2024-10-04 00:00:00+02:00,21.875000,22.690001,21.875000,22.415001,22.415001,4947528,GLE.PA

In [7]:
# Moments 
moments = FirstTwoMoments(s = timedelta(nb_data), data_module=data_module)

# Dictionary giving expected returns and covariance matrices of the companies
info = moments.compute_information(date_time)
info

{'expected_return': array([2.54928604e-04, 3.64483906e-04, 8.47956587e-05]),
 'covariance_matrix': array([[  4.10927742,  18.04399029,   7.26652832],
        [ 18.04399029, 100.92513636,  38.7730021 ],
        [  7.26652832,  38.7730021 ,  24.09752472]]),
 'companies': array(['ACA.PA', 'BNP.PA', 'GLE.PA'], dtype=object)}

In [8]:
# using the Compute_portfolio function of the Professor
Mean_Var_porfolio = moments.compute_portfolio(date_time, info)
Mean_Var_porfolio

{'ACA.PA': 1.170182986565469,
 'BNP.PA': -0.21302693308890427,
 'GLE.PA': 0.04284394652343537}

In [9]:
# Checking that all weights = 1 
sum(Mean_Var_porfolio.values())

1.0

In [10]:
# using My function of Risk Parity strategy
Risk_Par_pf = moments.compute_Risky_Parity_portfolio(date_time, info)
Risk_Par_pf

{'ACA.PA': 0.6, 'BNP.PA': 6.038497128487719e-11, 'GLE.PA': 0.39999999979935685}